---
title: Cloud installation
namespace: cloud_installation
permalink: /cloud_installation/

subtitle: installations.cloud.title
layout: installation_navigation
---
<div class="container mx-md-auto w-100">
    <div>
        <h3>{% t installations.cloud.advantages %}</h3>
        <div class="row my-4 d-flex justify-content-center">
            {% include try_now_card.html
            title="landing_page.using_digital_ocean"
            description="landing_page.using_digital_ocean_desc_html"
            image="https://opensource.nyc3.cdn.digitaloceanspaces.com/attribution/assets/SVG/DO_Logo_horizontal_white.svg?utm_medium=opensource&utm_source=OctoBot"
            image_link="https://www.digitalocean.com/?refcode=40c9737100b1&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=CopyPaste"
            link_text="landing_page.using_digital_ocean_desc_link_text"
            link="digital_ocean_installation" %}
            {% include try_now_card.html
            title="landing_page.using_astrolab"
            description="landing_page.using_astrolab_desc"
            image="/assets/images/octobot.svg"
            image_link=""
            link_text="landing_page.using_astrolab_link_text"
            raw_link="https://join-beta.octobot.online"
            comming_soon=true %}
        </div>
    </div>

    <div class="container mt-4 mx-md-auto pb-5 border-bottom"></div>
</div>