---
title: Digital Ocean installation
namespace: digital_ocean_installation
permalink: /digital_ocean_installation/

subtitle: installations.digital_ocean.title
layout: installation
---
<div class="container mx-md-auto w-100">
    <div>
        <h3>{% t installations.digital_ocean.advantages %}</h3>
        <p class="mt-2 mt-md-4">{% t installations.digital_ocean.step1 %}</p>
        <p class="mt-2">{% t installations.digital_ocean.step2 %}
            <a href="https://cloud.digitalocean.com/apps/new?repo=https://github.com/Drakkar-Software/OctoBot/tree/master&refcode=40c9737100b1" target="_blank" rel="noopener">
                <img src="https://mp-assets1.sfo2.digitaloceanspaces.com/deploy-to-do/do-btn-blue.svg"
                     alt="digital ocean one click deployment">
            </a>
        </p>
        <p class="mt-2 mt-md-4">
            {% t installations.digital_ocean.step3 %}
            <div class="text-center">
                {% include modalable_image.html
                rendered_image_path="/assets/images/digital_ocean_building.webp"
                class_attr="part-image-md w-100"
                alt_attr="digital ocean build"
                title="installations.digital_ocean.build_example" %}
            </div>
        </p>
        <p class="mt-2">{% t installations.digital_ocean.step4 %}
        <div class="text-center">
            {% include modalable_image.html
            rendered_image_path="/assets/images/digital_ocean_success_deploy.webp"
            class_attr="part-image-md w-100"
            alt_attr="digital deploy succeeded"
            title="installations.digital_ocean.terminal" %}
        </div>
        <p class="mt-2">{% t installations.digital_ocean.docker_info %}
    </div>
</div>