---
title: Guides
namespace: guides
permalink: /guides/
---

<!--header-->
<div class="part guides-intro-background mt-0">
    <div class="background-mask p-0">
        <div class="py-4 w-75 mx-auto text-center">
            <h2 class="my-4">{% t guides_page.title %}</h2>
            <h5>{% t guides_page.subtitle %}</h5>
        </div>
    </div>
</div>

<!--setup-->
<div id="installation" class="part">
    <div class="row py-1 py-md-2">
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t guides_page.install_octobot %}</h3>
                <div>
                    {% t guides_page.install_methods_desc_html %}
                    <a id="guides-go-to-python-installation"
                       href="{% tl python_installation %}">
                        {% t installations.directly_from_python %}
                    </a>
                </div>
            </div>
            <div>
                {% include installation_methods.html %}
            </div>
        </div>
        <div class="col-12 col-md-7 text-center my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/large_web_interface.webp"
            class_attr="part-image-md w-100"
            alt_attr="web interface preview"
            title="guides_page.web_interface" %}
        </div>
    </div>
</div>

<!--configure octobot-->
<div id="exchanges" class="part">
    <div class="row py-1 py-md-2">
        <div class="col-12 col-md-7 text-center my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/exchanges_config.webp"
            class_attr="part-image-md w-100"
            alt_attr="exchanges configuration preview"
            title="guides_page.exchanges_configuration" %}
        </div>
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t guides_page.configure_exchanges %}</h3>
                <div>
                    {% t guides_page.configure_exchanges_desc_html %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="traded_pairs" class="part">
    <div class="row py-1 py-md-2">
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t guides_page.configure_traded_pairs %}</h3>
                <div>
                    {% t guides_page.configure_traded_pairs_desc_html %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 text-center my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/pairs_config.webp"
            class_attr="part-image-md w-100"
            alt_attr="traded pairs configuration preview"
            title="guides_page.traded_pairs_configuration" %}
        </div>
    </div>
</div>
<div id="trading_modes" class="part">
    <div class="row py-1 py-md-2">
        <div class="col-12 col-md-5 offset-md-2 mx-auto">
            <div class="ratio ratio-16x9">
                <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/vA5YhxQ-2zw?iv_load_policy=3&rel=0&showinfo=0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        autoplay="1"
                        allowfullscreen
                ></iframe>
            </div>
        </div>

        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t guides_page.configure_trading_modes %}</h3>
                <div>
                    {% t guides_page.configure_trading_modes_desc %}
                    <div class="mt-4">

                        <a id="guides-go-to-evaluation-chain"
                           href="#evaluation_chain"
                           class="btn call-to-action-button">
                            {% t guides_page.more_info_on_evaluation_chain %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="telegram" class="part">
    <div class="row py-1 py-md-2">
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t guides_page.configure_communication_channels %}</h3>
                <div>
                    {% t guides_page.configure_communication_channels_desc_html %}
                </div>
            </div>
        </div>
        <div class="col-12 row col-md-7 text-center my-auto">
            <div class="col-12 col-lg-4 my-auto">
                {% include modalable_image.html
                rendered_image_path="/assets/images/telegram-interface.webp"
                class_attr="part-image-sm"
                alt_attr="telegram interface"
                title="guides_page.telegram_interface" %}
            </div>
            <div class="col-12 col-lg-8 mt-2 mt-lg-0">
                <div class="ratio ratio-16x9">
                    <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/AKkT3xZCBac?iv_load_policy=3&rel=0&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            autoplay="1"
                            allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="backtesting" class="part">
    <div class="row py-1 py-md-2">
        <div class="col-12 col-md-7 text-center my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/backtesting.webp"
            class_attr="part-image-md w-100"
            alt_attr="backtesting preview"
            title="guides_page.backtesting_configuration" %}
        </div>
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t guides_page.configure_backtesting %}</h3>
                <div>
                    {% t guides_page.configure_backtesting_desc_html %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="evaluation_chain" class="part mb-1 mb-md-5">
    <div class="row py-1 py-md-2">
        <div class="col col-md-5">
            <h3 class="border-bottom my-3 pb-2">{% t guides_page.the_evaluation_chain %}</h3>
            <div>
                <h5> {% t guides_page.evaluators %} </h5>
                <p>
                    {% t guides_page.evaluators_desc_html %}
                </p>
            </div>
            <div>
                <h5> {% t guides_page.strategies %} </h5>
                <p>
                    {% t guides_page.strategies_desc %}
                </p>
            </div>
            <div>
                <h5> {% t guides_page.trading_modes %} </h5>
                <p>
                    {% t guides_page.trading_modes_desc %}
                </p>
            </div>
        </div>
        <div class="col-12 col-md-7 text-center my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/chart.webp"
            class_attr="part-image-sm"
            alt_attr="price chart with technical indicators"
            title="guides_page.chart_with_TA" %}
            {% include modalable_image.html
            rendered_image_path="/assets/images/evaluators.webp"
            class_attr="part-image-md w-100"
            alt_attr="evaluators configuration preview"
            title="guides_page.evaluators_configuration" %}
        </div>
    </div>
</div>

<div class="part pt-2 pt-md-5 my-2 my-md-5 text-center">
    <h5>{% t guides_page.this_is_just_an_subset %}</h5>
    <div class="my-2 my-md-3">
        <a id="guides-go-to-try-octobot"
           href="{% tl octobot %}#try_octobot"
           class="btn btn-lg call-to-action-button">
            {% t landing_page.try_octobot %}
        </a>
    </div>
</div>