---
title: Home
page_title: octobot
namespace: octobot
permalink: /
---
<!-- Intro: OctoBot in a glance (on pager) -->
<div class="part intro-background">
    <div class="background-mask p-0">
        <div class="py-4 w-75 mx-auto text-center">
            <h2 class="my-4">{% t landing_page.tagline %}</h2>
            <h5>{% t landing_page.title %}</h5>
            <div class="">
                {% t landing_page.subtitle %}
            </div>
            <div class="mt-4">
                <a href="#try-octobot" class="btn call-to-action-button">{% t landing_page.try_octobot %}</a>
            </div>
        </div>
    </div>
</div>

<!-- What is OctoBot: differentiator & core features -->
<div class="part">
    <div class="row py-1 py-md-2">
        <div class="col col-md-5">
            <!-- What is OctoBot -->
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t octobot %}</h3>
                <div>
                    {% t landing_page.what_is_octobot %}
                </div>
            </div>
            <!-- Differentiator -->
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t landing_page.octobot_is_opensource %}</h3>
                <div>
                    <h6>{% t landing_page.test_and_use_for_free %}</h6>
                    <p>{% t landing_page.story.the_obsticle %}</p>
                    <p>
                        <a href="https://github.com/Drakkar-Software/OctoBot"
                           class="btn outline-button" target="_blank" rel="noopener">
                            {% t landing_page.see_octobot_on %} <i class="fab fa-github"></i> {% t landing_page.github %}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 text-center my-auto">
            <div class="ratio ratio-16x9">
                <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/i_ax8g4ov4A?autoplay=1&mute=1&loop=1&start=2"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        autoplay="1"
                        allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
    <!-- Features -->
    <div class="row py-1 py-md-2">
        <div class="col-12 col-md-7 text-center px-0 my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/telegram-interface.png"
            class_attr="part-image-sm"
            alt_attr="telegram interface"
            title="guides_page.telegram_interface" %}
            {% include modalable_image.html
            rendered_image_path="/assets/images/twitter-interface.png"
            class_attr="part-image-sm"
            alt_attr="twitter interface"
            title="landing_page.twitter_interface" %}
            {% include modalable_image.html
            rendered_image_path="/assets/images/web_interface.jpg"
            class_attr="part-image-sm"
            alt_attr="web interface"
            title="landing_page.web_interface" %}
        </div>
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t landing_page.setup_the_strategy_that_fits_you %}</h3>
                <h6>{% t landing_page.each_strategy_is_testable %}</h6>
                <p>{% t landing_page.story.the_transformation %}</p>
                <div class="mt-4">
                    <a href="{% tl guides %}" class="btn outline-button"> {% t landing_page.usage_details %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-1 py-md-2">
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t landing_page.dont_trust_verify %}</h3>
                <div>
                    <h6>{% t landing_page.octobot_is_just_like_cryptocurrencies %}</h6>
                    <p class="mb-1">{% t landing_page.story.the_challenge %}</p>
                    <ul>
                        <li>
                            {% t landing_page.story.the_challenge_li_1 %}
                        </li>
                        <li>
                            {% t landing_page.story.the_challenge_li_2 %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 text-center my-auto">
            {% include modalable_image.html
            rendered_image_path="/assets/images/backtesting.png"
            class_attr="part-image-md w-100"
            alt_attr="backtesting"
            title="landing_page.backtesting_result" %}
        </div>
    </div>
    <div class="row py-1 py-md-2">
        <div class="col-12 col-md-7 text-center my-auto">
            <img src="/assets/images/python-logo-inkscape.svg" class="part-image-sm" alt="python">
        </div>
        <div class="col col-md-5">
            <div>
                <h3 class="border-bottom my-3 pb-2">{% t landing_page.built_for_performances %}</h3>
                <div>
                    <h6>{% t landing_page.multi_layer_optimisations %}</h6>
                    <p>{% t landing_page.optimisation_desc_html %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="try-octobot" class="part bg-darker py-2 py-md-4">
    <div class="part-title">
        <h2>{% t landing_page.try_octobot_now %}</h2>
    </div>
    {% include installation_methods.html %}
</div>

<!-- OctoBot community -->
<div class="part py-2 py-md-4">
    <div class="part-title">
        <h2>{% t landing_page.the_octobot_community %}</h2>
    </div>
    <!-- community channels -->
    <div class="d-flex justify-content-center my-4">
        <div class="mx-4">
            <a href="https://t.me/joinchat/F9cyfxV97ZOaXQ47H5dRWw" target="_blank" rel="noopener" class="link"><i class="fab fa-telegram"></i>
                {% t landing_page.telegram %}</a>
        </div>
        <div class="mx-4">
            <a href="https://discord.com/invite/vHkcb8W" target="_blank" rel="noopener" class="link"><i class="fab fa-discord"></i>
                {% t landing_page.discord %}</a>
        </div>
    </div>
    <!-- Stats -->
    <div class="d-flex flex-wrap justify-content-center my-4">
        <div class="mx-4">
            <span class="bot-stats" id="monthly-bots">?</span> {% t landing_page.bots_this_month %}
        </div>
        <div class="mx-4">
            <span class="bot-stats" id="daily-bots">?</span> {% t landing_page.bots_at_this_moment %}
        </div>
        <div class="mx-4">
            <span class="bot-stats" id="all-bots">?</span> {% t landing_page.total_octobots %}
        </div>
    </div>
    <div class="text-center">
        <a href="{% tl community %}" class="btn outline-button"> {% t landing_page.octobot_statistics %}</a>
    </div>
</div>

<!-- Les stratégies utilisables sur OctoBot -->
<div class="part strategies-background">
    <div class="background-mask px-0 pt-5">
        <div class="py-4 w-75 mx-auto">
            <h2 class="mb-4">{% t landing_page.discover_octobot_strategies %}</h2>
            <div class="">
                {% t landing_page.octobot_strategies_concept %}
            </div>
            <div class="mt-4">
                <a href="{% tl guides %}#evaluation_chain" class="btn call-to-action-button">
                    {% t landing_page.discover_strategies %}
                </a>
            </div>
        </div>
    </div>
</div>

<!-- News -->
<div class="part my-4">
    <h2 class="part-title">{% t landing_page.news %}</h2>
    <div class="row">
        {% for article in site.articles %}
            {% include article_preview.html article=article %}
        {% endfor %}
    </div>
    <div class="text-end m-4 py-2">
        <button type="button" class="btn outline-button">{% t landing_page.all_news_on_our_blog %}</button>
    </div>
</div>
