---
title: Okteto installation
namespace: okteto_installation
permalink: /okteto_installation/

subtitle: installations.okteto.title
layout: installation
---
<div class="container mx-md-auto w-100">
    <div>
        <h3>{% t installations.okteto.advantages %}</h3>
        <p class="mt-2 mt-md-4">{% t installations.okteto.step1 %}</p>
        <p class="mt-2">{% t installations.okteto.step2 %}
            <a href="https://cloud.okteto.com/deploy?repository=https://github.com/Drakkar-Software/OctoBot" target="_blank" rel="noopener">
                <img src="https://okteto.com/develop-okteto.svg"
                     alt="okteto one click deployment">
            </a>
        </p>
        <p class="mt-2 mt-md-4">
            {% t installations.okteto.step3 %}
            <div class="text-center">
                {% include modalable_image.html
                rendered_image_path="/assets/images/okteto_building.webp"
                class_attr="part-image-md w-100"
                alt_attr="okteto build"
                title="installations.okteto.build_example" %}
            </div>
        </p>
        <p class="mt-2">{% t installations.okteto.step4 %}
        <div class="text-center">
            {% include modalable_image.html
            rendered_image_path="/assets/images/okteto_success_deploy.webp"
            class_attr="part-image-md w-100"
            alt_attr="okteto deployment succeeded"
            title="installations.okteto.terminal" %}
        </div>
        <p class="mt-2">{% t installations.okteto.additonal_info %}
    </div>
</div>