<footer class="text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="footer-icons">
            <a href="https://t.me/joinchat/F9cyfxV97ZOaXQ47H5dRWw" target="_blank" rel="noopener"><i class="fab fa-telegram link"></i></a>
            <a href="https://discord.com/invite/vHkcb8W" target="_blank" rel="noopener"><i class="fab fa-discord link"></i></a>
            <a href="https://twitter.com/DrakkarsOctoBot" target="_blank" rel="noopener"><i class="fab fa-twitter link"></i></a>
            <a href="https://github.com/Drakkar-Software/OctoBot" target="_blank" rel="noopener"><i class="fab fa-github link"></i></a>
        </div>
        © {% t copyright %} 2021
        <a class="font-weight-bold link" href="">{% t octobot %}</a>
    </div>
    <!-- Copyright -->
</footer>
