<footer class="text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="footer-icons d-flex justify-content-center">
            <span class="d-none d-md-block">{% t follow_octobot_on %}</span>
            <a id="footer-go-to-octobot-telegram" href="https://t.me/joinchat/F9cyfxV97ZOaXQ47H5dRWw" target="_blank" rel="noopener" class="mx-2"><i class="fab fa-telegram link"></i></a>
            <a id="footer-go-to-octobot-discord" href="https://discord.com/invite/vHkcb8W" target="_blank" rel="noopener" class="mx-2"><i class="fab fa-discord link"></i></a>
            <a id="footer-go-to-octobot-twitter" href="https://twitter.com/DrakkarsOctoBot" target="_blank" rel="noopener" class="mx-2"><i class="fab fa-twitter link"></i></a>
            <a id="footer-go-to-octobot-instagram" href="https://www.instagram.com/_octobot_/" target="_blank" rel="noopener" class="mx-2"><i class="fab fa-instagram link"></i></a>
            <a id="footer-go-to-octobot-facebook" href="https://www.facebook.com/OctoBot-104579222283185" target="_blank" rel="noopener" class="mx-2"><i class="fab fa-facebook link"></i></a>
            <a id="footer-go-to-octobot-github" href="https://github.com/Drakkar-Software/OctoBot" target="_blank" rel="noopener" class="mx-2"><i class="fab fa-github link"></i></a>
        </div>
        © {% t copyright %} 2022
        <a id="footer-go-to-home" class="font-weight-bold link" href="{% tl octobot %}">{% t octobot %}</a>
    </div>
    <!-- Copyright -->
</footer>
