<div class="row my-4">
    {% include try_now_card.html
    title="landing_page.using_octobot_cloud"
    description="landing_page.using_a_cloud_desc_html"
    image="/assets/images/octobot.svg"
    badge="landing_page.recommended"
    card_classes="offset-md-4 col-md-4 featured-card"
    icon=""
    image_link=""
    link_text="landing_page.using_a_cloud_desc_link_text"
    raw_link="https://www.octobot.cloud/onboarding" %}
    {% include try_now_card.html
    title="landing_page.using_the_latest_executable"
    description="landing_page.using_the_latest_executable_desc"
    image="/assets/images/winlimac.webp"
    card_classes="offset-md-1 col-md-3"
    icon=""
    image_link=""
    link_text="landing_page.using_the_latest_executable_link_text"
    link="local_installation" %}
</div>