<div class="row my-4">
    {% include try_now_card.html
    title="landing_page.using_the_latest_executable"
    description="landing_page.using_the_latest_executable_desc"
    image="/assets/images/winlimac.webp"
    image_link=""
    link_text="landing_page.using_the_latest_executable_link_text"
    link="executable_installation" %}
    {% include try_now_card.html
    title="landing_page.using_a_cloud"
    description="landing_page.using_a_cloud_desc_html"
    image="/assets/images/cloud.webp"
    image_link= ""
    link_text="landing_page.using_a_cloud_desc_link_text"
    link="cloud_installation" %}
    {% include try_now_card.html
    title="landing_page.using_docker"
    description="landing_page.using_docker_desc"
    image="/assets/images/Docker-Logo-White-RGB_Horizontal.webp"
    image_link=""
    link_text="landing_page.using_docker_link_text"
    link="docker_installation" %}
</div>