<div class="card bg-dark col-12 col-sm-6 col-md-4">
    <div class="d-flex justify-content-between flex-column h-100">
        <div class="text-center my-2 my-md-4">
            <img src="{{ include.avatar }}" class="img-fluid card-img-top avatar_img" alt="{{ include.name }}">
        </div>
        <div class="mx-0 mx-md-2 mx-lg-3 px-0">
            <h5 class="card-title">
                {{ include.name }}
                <span class="ms-2">
                    {% if include.github %}
                    <a id="team-member-card-go-to-github-{{ include.name }}" href="{{ include.github }}"><i class="fab fa-github link"></i></a>
                    {% endif %}
                    {% if include.linkedin %}
                    <a id="team-member-card-go-to-linkedin-{{ include.name }}" href="{{ include.linkedin }}"><i class="fab fa-linkedin link"></i></a>
                    {% endif %}
                </span>
            </h5>
            <p class="card-text">
                {% t include.description %}
            </p>
        </div>
    </div>
</div>