<div class="row">
    <div class="col-10 col-md-5 col-lg-4 col-xl-3 row text-primary mx-auto my-2 mt-md-3">
        <div class="col community-bot-stats-second d-flex justify-content-between flex-column pt-5">
            <div class="mx-auto">
                <i class="fas fa-2x fa-medal"></i>
            </div>
            <div class="mx-auto">
                <span id="profit-1">?</span>%
            </div>
        </div>
        <div class="col community-bot-first d-flex justify-content-between flex-column pb-4">
            <div class="mx-auto">
                <i class="fas fa-2x fa-trophy"></i>
            </div>
            <div class="mx-auto">
                <span id="profit-2">?</span>%
            </div>
        </div>
        <div class="col community-bot-third d-flex justify-content-between flex-column pt-5">
            <div class="mx-auto">
                <i class="fas fa-2x fa-award"></i>
            </div>
            <div class="mx-auto">
                <span id="profit-3">?</span>%
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <div>
        <h3>
            {% t community_page.current_best_performers %}
        </h3>
    </div>
</div>
